<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${pageTitle}">Main</title>

    <!-- Tailwind CSS 3 (CDN) -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="bg-grey-100">

<!-- Navigation -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Page content -->
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
        <div layout:fragment="content">
            <!-- Page content will be inserted here -->
        </div>
    </div>
</div>

<!-- Scripts -->
<script th:replace="~{fragments/navbar :: navbar-scripts}"></script>

</body>
</html>