# Database Configuration
POSTGRES_DB=membership_db
POSTGRES_USER=membership_user
POSTGRES_PASSWORD="KJ#9m$P2vL8nX&5q"
POSTGRES_PORT=5432
DATABASE_URL=jdbc:postgresql://localhost:5432/membership_db

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Prometheus Configuration
PROMETHEUS_PORT=9090

# Grafana Configuration
GRAFANA_PORT=3000
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme
GF_USERS_ALLOW_SIGN_UP=false