target/
.mvn/
mvn*
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
out/
META-INF/
*.pcap
.env

### JPA buddy ###
.jpb/

### Docker temp files
docker

### Frontend ###

/src/main/frontend/node_modules/
Kannel User's Guide-tailwindcss.html
Kannel User's Guide.html
infra/nginx/certs/
migration/
ai-instructions/
